<p>toggleimg works!</p>
<h1>Task 1</h1>
<div class="task1">
    <div class="switchbox">
     
    <img src="./zoro.png" alt="Zoro" id="img1" class="imgtog"><br>
    <h1 id="title1">Zoro</h1>
    <button class="switchbut" type="button"  (click)="switchImgs()">Switch</button>
           
    </div>
</div>

<hr>

<h1>Task 2</h1>

    <div class="task2">
        <div class="switchbox2">
            <img src="./zoro.png" alt="Zoro" id="img2" width="400px">
            <h3 id="imgtitle">Roronoa Zoro</h3>
            
        <button type="button" id="button1" (click)="switchimg2('Zoro')" class="task2button">Roronoa Zoro</button>
        <button type="button" id="button2" (click)="switchimg2('Sanji')" class="task2button2">Vinsmoke Sanji</button>
        <button type="button" id="button3" (click)="switchimg2('Luffy')" class="task2button3">Monkey . D . Luffy</button>
        <button type="button" id="button4" (click)="switchimg2('Robin')"class="task2button4">Nico Robin</button>
        </div>
    </div>